
# Node Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Electron Build Files and Folders
dist/
out/
build/
release/

# Electron Package Files
*.asar
*.dmg
*.exe
*.app
*.deb
*.rpm

# Operating System and Editor Files
.DS_Store
**/.DS_Store        # Ignore .DS_Store in all directories
.DS_Store?          # Ignore .DS_Store with any suffix
._*                 # Ignore all files starting with ._
Thumbs.db        # Windows
.idea/           # IntelliJ IDEA Configuration
.vscode/         # Visual Studio Code Configuration
*.suo            # Visual Studio
*.ntvs*          # Visual Studio Node.js Tools
*.njsproj        # Visual Studio
*.vcxproj        # Visual Studio C++
*.swp            # Vim Temporary Files
*.sublime*       # Sublime Text Configuration
Lib/

# Environment Files (if you have sensitive information)
.env
.env.local
.env.*.local
Neuromarketing/

# Cache and Log Files
.cache/
logs/
*.log

# Package Cache
cache/
tmp/
temp/

# GitHub Actions Package Files (if using GitHub Actions for deployment)
*.bak
*.tmp

# Python Files
__pycache__/    # Python Cache Directory
__pycache__     # Python Cache Directory
*.pyc           
**/__pycache__/  # Python Cache Directory
*.py[cod]        # Python Compiled Files
*.so             # Shared Library Files
*.pyd            # Windows Shared Library Files
.venv/           # Python Virtual Environment (if using virtualenv or venv)
env/             # Python Virtual Environment (common names)
*.egg            # Python Package Distribution
*.egg-info/
*.eggs/
Pipfile          # Python Dependencies File (Pipenv)
Pipfile.lock     # Python Dependencies Lock (Pipenv)
poetry.lock      # Python Dependencies Lock (Poetry)
poetry.toml      # Poetry Configuration
.env             # Environment Variables

# Cache and Log Files
.cache/
logs/
*.log

# GitHub Actions Package Files (if using GitHub Actions for deployment)
*.bak

# Testing and Training Data Folders
testing/
training/
