<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Tracking Calibration</title>
    <link rel="stylesheet" href="/Frontend/Css/utils/reset.css">
    <link rel="stylesheet" href="/Frontend/Css/utils/variables.css">
    <link rel="stylesheet" href="/Frontend/Css/pages/eyestracking.css">
</head>
<body>
    <button id="startButton">Iniciar Calibración en Pantalla Completa</button>
    <div id="calibrationArea"></div>

    <script src="/Frontend/Script/pages/eyestracking.js"></script>
</body>
</html>