<!-- Vista de la página de calibración de Eye Tracking -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' http://localhost:5000">
    <title>Eye Tracking Calibration</title>
    <link rel="stylesheet" href="../../Css/pages/eyestracking.css">
</head>
<body>
    <button id="startButton">Iniciar Calibración en Pantalla Completa</button>
    <div id="calibrationArea"></div>

    <script src="../../Script/pages/eyestracking.js"></script>
</body>
</html>