<!DOCTYPE html>
<html>
<head>
    <title>Calibración de Seguimiento Ocular</title>
    <link rel="stylesheet" href="../../Css/pages/eyestracking.css">
</head>
<body>
    <div id="calibrationArea">
        <div id="startButtonContainer">
            <button id="startButton" class="primary-button">Iniciar Calibracion</button>
            
        </div>
    </div>
    <div id="redirectMessage" class="redirect-message">
        <p>Calibración completada</p>
        <div class="loader"></div>
        <p>Redirigiendo al dashboard...</p>
    </div>
    <script src="../../Script/pages/eyestracking.js"></script>
</body>
</html>